{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">¡Bienvenido a DjangoTaskMaster!</h1>
        <p>Nos alegra que hayas decidido unirte a nuestra comunidad. En DjangoTaskMaster, creemos que la organización y la productividad son clave para alcanzar tus metas. 
            Nuestra herramienta está diseñada para ayudarte a gestionar tus tareas de manera eficiente y sencilla.</p>
    
        <strong>¿Qué puedes esperar de DjangoTaskMaster?</strong>
        <ul>
            <li><strong>Interfaz Intuitiva:</strong> Navega y gestiona tus tareas con facilidad gracias a nuestra interfaz amigable. </li>
            <li><strong>Seguimiento de Tareas:</strong> Mantén un registro de todas tus actividades pendientes y completadas. </li>
            <li><strong>Recordatorios Personalizados:</strong>  No dejes que ninguna tarea importante se te escape. </li>
            <li><strong>Colaboración en Equipo:</strong> Comparte tareas y proyectos con tu equipo para un trabajo más eficiente. </li>
            <li><strong>Análisis de Productividad:</strong> Revisa tus estadísticas y mejora tu rendimiento día a día. </li>
        </ul>
    
        <p>Estamos aquí para facilitarte la organización de tus proyectos y ayudarte a alcanzar tus objetivos de manera más efectiva. Si tienes alguna duda o necesitas asistencia, nuestro equipo de soporte está siempre a tu disposición.</p>
    
        <p>¡Empieza a organizarte con <strong>DjangoTaskMaster</strong> y alcanza tus metas con éxito!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>

            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>

        </div>
    </section>
</main>

{% endblock %}
